<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-5">
      <h4>地図からさがす</h4>
      <div id="map" style="height:640px; width:800px;"></div>
    </div>
    <div class="col-10 mx-auto mt-3 mb-5">
    </div>
  </div>
</div>

<div id="mapPosts" data-posts="<%= @map_posts.to_json %>"></div>

<%= javascript_pack_tag 'index' %>
