@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {

}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

.area_list li {
  margin: 10px 0;
}

.popup-text {
  width: 150px; /* 省略せずに表示するサイズを指定 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding : 0;
  margin: 0;
}

.popup-image {
  width: 150px;
  height: 100px;
  padding : 0;
  margin: 0;
}

.map-caption {
  max-width: 400px;
  height: 180px;
  background-color: red;
  padding: 0 10px;
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 80px;
}

.map-caption p {
  font-size: 0.8rem;
}

#map {
  position: relative;
}

.popup .leaflet-popup-tip{
  display: none;
}

//newページ

.selected-section{
  background-color: #e9dfe5;
  padding: 20px 10px;
  p {
    padding: 5px 0;
  }
}

//showページ
.comment-box {
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #a9a9a9;
  p {
    font-size: 0.8rem;
  }
}

.message{
  font-size: 0.8rem;
}

.post-heading {
  font-size: 0.9rem;
  padding: 5px;
}

.post-contents {
  background-color: #e9dfe5;
  font-size: 0.9rem;
  border-radius: 8px;
  min-height: 40px;
  padding: 10px 15px;
}