@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family :
	YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
	serif;
}

//*** 基本項目 ***//

li {
  list-style: none;
}
a {
  color: #808080;
}
a:hover {
  color: #c97586;
  text-decoration: none;
}
a.active {
  color: #000;
}
p {
  margin-bottom: 0;
}

//*** 背景・フッター ***//

.container-fluid.public {
  background-color: #e9e5e6;
  padding-top: 70px;
  min-height: calc(100vh - 50px);
}
.container-fluid.admin {
  background-color: #e6e9ea;
  padding-top: 70px;
  min-height: calc(100vh - 50px);
}
footer {
  height: 50px;
  background-color: #292121;
  p {
    font-size: 0.7rem;
    color: #fff;
  }
}

//*** コンテナ ***//

.input-container {
  max-width: 600px;
  background-color: #fff;
  border-radius: 20px;
}
.map-container {
  background-color: #fff;
  border-radius: 20px;
}
.post-container {
  max-width: 750px;
  background-color: #fff;
  border-radius: 20px;
}
.input-container-edit {
  max-width: 600px;
  background-color: #fafbfa;
  border-radius: 20px;
  p {
    font-size: 0.9rem;
  }
  .edit-icon {
    background-color: #ededed;
    padding: 20px;
    border-radius: 10px;
  }
}
.input-container-accent {
  max-width: 500px;
  width: 89%;
  background-color: #faf6f6;
  border-radius: 20px;
  p {
    font-size: 0.9rem;
  }
  a {
    font-weight: bold;
  }
}

//*** コンテンツ共通 ***//
.heading {
  text-align: center;
  line-height: 30px;
  word-break: keep-all;
}
.message{
  font-size: 0.8rem;
}
.date {
  font-size: 0.8rem;
  word-break: keep-all;
}
.date-sm {
  font-size: 0.7rem;
  padding-top: 2px;
  text-align: right;
}
@media screen and (max-width:700px){
  .low-priority {
    display: none;
  }
}

//*** フォーム共通 ***//

.label-sm, .file-sm {
  padding-left: 0;
  padding-right: 0;
  font-size: 0.9rem;
}
textarea.form-control {
  height: 100px;
}
.label-control, .file-control {
  padding-left: 0;
  padding-right: 0;
  font-size: 1rem;
}
.field_with_errors {
  display: contents;
  input {
    @extend .is-invalid;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  textarea {
    @extend .is-invalid;
    font-size: 0.9rem;
  }
}
.presence-required {
  font-size: 0.7rem;
  background-color: #c7a2af;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.presence-optional {
  font-size: 0.7rem;
  background-color: #a8a8a8;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.text-danger {
  font-size: 0.9rem;
}
.imput-group-sm {
  .btn {
    width: 100%;
  }
}
.main {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

//*** newページ ***//

.station-name-select {
  background-color: #faf6f6;
  font-weight: bold;
}
#map-new {
  position: relative;
  z-index: 0;
  height: 650px;
  max-height: calc(100vh - 300px);
  width: 100%;
}
#modal-new-open {
  font-size: 0.7rem;
}

//*** newページ・showページ共通 ***//

.selected-section {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 0;
  text-align: center;
  p {
    padding: 5px 0;
  }
}
.station-name {
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  span {
    font-size: 1.1rem;
  }
}
.station-name-select {
  text-align: right;
}
.line-name {
  font-size: 0.9rem;
}

//*** showページ ***//

.post-heading {
  font-size: 0.9rem;
  padding: 5px;
}
.post-contents {
  background-color: #faf6f6;
  font-size: 0.9rem;
  border-radius: 8px;
  min-height: 40px;
  padding: 10px 15px;
}
.comment-heading {
  border-bottom: 1px solid #a9a9a9;
}
.comment-box {
  border-bottom: 1px solid #a9a9a9;
  p {
    font-size: 0.8rem;
  }
}
#map-show {
  z-index: 0;
  height: 300px;
  width: 100%;
}


//複数画像用スライダー
#slide{
  margin:0 auto;
}
.post-slide {
  .swiper-container{
    position: relative;
    z-index: 0;
  }
  .swiper-container-cover{
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
    position: relative;
    z-index: 1;
    text-align: center;
  }
  .swiper-button-prev, .swiper-button-next {
      --swiper-navigation-size: 30px;
      --swiper-theme-color: #bababa;
      --swiper-navigation-color: #bababa;
  }
  .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: -15px;
  }
  .swiper-pagination-bullet {
    margin: 0 3px;
  }
  .swiper-pagination-bullet-active {
    margin: 0 3px;
    --swiper-theme-color: #e5bdbd;
    background: #e5bdbd;
  }
}

//*** detailページ・editページ共通 ***//

#map-detail {
  z-index: 0;
  height: 300px;
  width: 100%;
}

//*** editページ ***//

.selected-section-edit {
  background-color: #fafbfa;
  padding: 10px;
  p {
    padding: 5px 0;
  }
  .station-name {
  font-weight: bold;
  font-size: 1.0rem;
  text-align: center;
  span {
      font-size: 1.0rem;
    }
  }
  .line-name {
    font-size: 0.9rem;
    text-align: center;
  }
}
.image-list {
  display: inline-block;
  width: 190px;
  padding: 5px 20px;
  input{
    margin-right: 5px;
  }
  label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 3px;
  }
}
.image-box {
  display: inline-block;
  width: 130px;
  span {
    font-size: 0.9rem;
  }
}

//*** searchページ ***//

.prefecture-list{
  word-break: keep-all;
}
.post-list {
  max-width: 700px;
  min-width: 260px;
  background-color: #fffdf9;
  padding: 0px 10px 10px 0px;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .3);
  p {
    color: black;
  }
  .section {
    padding-top: 25px;
    font-size: 1rem;
    height: 65px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .body {
    font-size: 0.9rem;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .caption {
    font-size: 0.8rem;
    height: 10px;
    span {
      background-color: #e4d2d8;
      padding: 3px 10px;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
  .bookmark-button{
    font-size: 0.9rem;
    padding: 10px 15px 0 0;
    text-align: right;
  }
  .post-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 242px;
    padding-top: 25px;
    margin: auto;
    img {
      margin: auto;
      padding: 1px;
    }
  }
}


//*** indexページ ***//

.area-name {
  display: inline-block;
  text-align: center;
  width: 80px;
  line-height: 40px;
}
.area-name-long {
  display: inline-block;
  text-align: center;
  width: 130px;
  line-height: 40px;
}
#map-index {
  height: 650px;
  max-height: calc(100vh - 160px);
  width: 100%;
  z-index: 1;
}
.map-container.area-list {
  height: 100%;
}
@media screen and (max-width:992px){
  .map-container.area-list {
    height: auto;
  }
}
.popup-text {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding : 0;
  margin: 0;
}
.popup-image {
  width: 150px;
  height: 100px;
  padding : 0;
  margin: 0;
}
.popup .leaflet-popup-content-wrapper {
  .leaflet-popup-content {
    margin: 16px 16px 5px 13px;
  }
  a {
    color: #808080;
  }
  a:hover {
    color: #c97586;
  }
  a.active {
    color: #000;
  }
  p {
    margin: 8px 0;
  }
}
.popup .leaflet-popup-tip{
  display: none;
}

//*** topページ ***//

.your-post {
  background-color: #e9e5e6;
}

//*** topスライダー ***//
//スライダー
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.top-image {
  background-color: #e9e5e6;
  color: #000;
  padding-top: 70px;
  min-height: 100vh;
  .frame {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 5px;
    background-color: #1a1a1a;
    border-radius: 25px;
    border: 10px solid #bcaeb3;
    border-top: 10px solid #a99ca1;
    border-bottom: 10px solid #c9bec2;
  }
  .swiper-container{
    border-radius: 30px;
  　border: 3px solid #696969;
  }
  .swiper-slide {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .swiper-slide-active .slide-img,
  .swiper-slide-duplicate-active .slide-img,
  .swiper-slide-prev .slide-img {
    animation: zoomUp 12s linear 0s;
    animation-fill-mode: both;
  }
  .slide-img.slide1 {
    background-image: url('/assets/slide1.jpg');
  }
  .slide-img.slide2 {
    background-image: url('/assets/slide2.jpg');
  }
  .slide-img.slide3 {
    background-image: url('/assets/slide3.jpg');
  }
  .slide-img.slide4 {
    background-image: url('/assets/slide4.jpg');
  }
  .slide-img.slide5 {
    background-image: url('/assets/slide5.jpg');
  }
  .slide-img.slide6 {
    background-image: url('/assets/slide6.jpg');
  }
  .slide-img {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 45vh;
    max-height: 450px;
  }
  .btn {
    width: 100%;
  }
}
@media screen and (max-width:1400px){
  .top-image .frame {
    max-width: 700px;
  }
}
@media screen and (max-width:1250px){
  .top-image .frame {
    max-width: 600px;
  }
}

//コピー
.top-copy {
  width: 100%;
  height: 20vh;
  display: table;
  text-align: center;
  h4 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 45px;
    word-break: keep-all;
  }
}
.top-buttons {
  max-width: 450px;
  text-align: center;
}

//*** topページ ***//
//*** topキャプション ***//

.top-caption {
  max-width: 1000px;
}
.top-caption-main {
  position: relative;
  .top-caption-text {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    h4 {
      line-height: 50px;
    }
  }
  .top-caption-image {
    height: 350px;
    background-image: url('/assets/top2.jpg');
    background-size: cover;
    background-position: left;
  }
}
.top-caption-sub {
  position: relative;
  bottom: 30px;
  left: 0;
  .top-caption-comment{
    background-color: rgba(238, 230, 223, 0.5);
    p {
      font-weight: bold;
      font-size: 1.0rem;
      line-height: 30px;
      padding: 0px;
      word-break: keep-all;
    }
  }
}

//*** topページ ***//
//*** 投稿スライダー ***//

.top-heading {
  text-align: center;
  h6 {
    color: #4f4d4e;
  }
}
.post-card {
  background-color: #fffdf9;
  padding: 40px 20px 10px 20px;
  margin: 20px auto;
  min-width: 282px;
  box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, .3);
  text-align: center;
  p {
    color: black;
  }
  .body {
    font-size: 0.9rem;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .caption {
    font-size: 0.8rem;
    height: 40px;
    span {
      background-color: #e4d2d8;
      padding: 3px 10px;
      border-radius: 10px;
      margin-right: 5px;
    }
  }
  .section {
    font-size: 0.8rem;
    height: 40px;
  }
  .star{
    font-size: 0.8rem;
    padding: 10px 15px 0 0;
    text-align: right;
  }
  .post-image {
    display: flex;
    flex-wrap: wrap;
    max-width: 275px;
    img {
      padding: 1px;
    }
  }
}

//投稿スライダー
.swiper-container-cover.slider-cover2,
.swiper-container-cover.slider-cover3 {
  max-width: 1080px;
  position: relative;
}
.swiper-container.slider2,
.swiper-container.slider3 {
  padding: 20px 27px;
  max-width: 1040px;
  position: relative;
}

@media screen and (max-width:1079px) {
  .swiper-container-cover.slider-cover2,
  .swiper-container-cover.slider-cover3 {
    max-width: 760px;
  }
  .swiper-container.slider2,
  .swiper-container.slider3 {
    max-width: 680px;
  }
}

@media screen and (max-width:689px) {
  .swiper-container-cover.slider-cover2,
  .swiper-container-cover.slider-cover3 {
    max-width: 445px;
  }
  .swiper-container.slider2,
  .swiper-container.slider3 {
    max-width: 340px;
  }
}

.slider-cover2, .slider-cover3 {
  .swiper-button-prev, .swiper-button-next {
    --swiper-navigation-size: 35px;
    --swiper-theme-color: #bababa;
    --swiper-navigation-color: #bababa;
  }
  .swiper-button-prev {
    left: -1px;
  }
  .swiper-button-next {
    right: -1px;
  }
  .swiper-pagination {
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  .swiper-pagination-bullet {
    margin: 0 3px;
  }
  .swiper-pagination-bullet-active {
    margin: 0 3px;
    --swiper-theme-color: #a6949b;
    background: #a6949b;
  }
}

//*** confirmページ ***//

.confirm-index{
  line-height: 25px;
}
.confirm-text {
  font-size: 0.9rem;
}

//*** モーダルウィンドウ ***//
//*** ゲストログイン用 ***//

#modal-overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;    /* スマートフォンでの表示対応は120% */
  background-color: rgba(0,0,0,0.75);
}
#modal-content {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* ウィンドウの大きさ分中央にずらす */
  max-width: 400px;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 10px;
  background: #fff;
}

//*** モーダルウィンドウ ***//
//*** newページ：操作方法 ***//

#modal-new-overlay {
  display: none;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
  ::-webkit-scrollbar {
    width: 5px;
  }
}
#modal-new-content {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%); /* ウィンドウの大きさ分中央にずらす */
  max-width: 600px;
  margin: 50px auto;
  padding: 10px 20px;
  border: 2px solid #aaa;
  border-radius: 10px;
  background: #fff;
  width: 90%;
  height: calc(95vh - 50px);
  overflow-y: scroll;
  p {
    font-size: 0.8rem;
  }
}

//*** ヘッダー ***//
//*** ヘッダーアイコン ***//

#hm-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 10;
}
#hm-logo.active {
  a {
    color: #fff;
  }
  a:hover {
    color: #c97586;
  }
}
#hm-icon {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 36px;
  height: 46px;
  font-size: 0.8rem;
}
.menu-trigger span.stick {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #808080;
  border-radius: 2px;
}
.menu-trigger span:nth-child(1) {
  top: 0;
}
.menu-trigger span:nth-child(2) {
  top: 10px;
}
.menu-trigger span:nth-child(3) {
  bottom: 24px;
}
.menu-trigger.active span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
  background-color: #fff;
}
.menu-trigger.active span:nth-child(2) {
  opacity: 0;
}
.menu-trigger.active span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
  background-color: #fff;
}
.menu-trigger span.menu {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 24px;
  width: 100%;
  text-align: center;
  padding-top: 5px;
}
.menu-trigger.active span.menu {
  display: none;
}
@media screen and (max-width:1080px){
  #hm-logo {
    font-size: 1.75rem;
  }
  .menu-trigger {
    width: 30px;
    height: 40px;
    font-size: 0.7rem;
  }
  .menu-trigger span.stick {
    height: 1px;
    border-radius: 1px;
  }
  .menu-trigger span:nth-child(2) {
    top: 8px;
  }
  .menu-trigger span:nth-child(3) {
    bottom: 23px;
  }
  .menu-trigger.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
  }
  .menu-trigger.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(45deg);
    transform: translateY(-8px) rotate(45deg);
  }
  .menu-trigger span.menu {
    height: 23px;
    width: 100%;
    padding-top: 5px;
  }
}

//*** ヘッダー ***//
//*** ヘッダーメニュー ***//
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(208, 199, 194, 0.98);
  color: #fff;
  width: 100%;
  padding-top: 40px;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu ul {
  max-width: 250px;
  margin: 0 auto;
  font-size: 1.5rem;
}
#sp-menu li span{
  font-size: 1.0rem;
}
#sp-menu a {
  color: #fff;
  text-decoration: none;
  border-bottom: 0.5px solid #fff;
  padding: 20px 20px 5px 0px;
}
#sp-menu a small {
  font-size: 0.8rem;
  margin-left: 20px;
  color: #f1efed;
}
#sp-menu a:hover {
  color: #c97586;
  border-color: #c97586;
}
#sp-menu a:hover small {
  color: #c97586;
}

//*** カスタムボタン ***//

.btn-main{
  background-color: #a6949b;
  color: #fff;
}
.btn-main:hover{
  background-color: #c9bec3;
  color: #000;
}
.btn-accent{
  background-color: #e5bdbd;
}
.btn-accent:hover{
  background-color: #ceaaaa;
  color: #fff;
}
.btn-outline-accent{
  border-color: #e5bdbd;
  color: #e5bdbd;
}
.btn-outline-accent:hover{
  background-color: #ceaaaa;
  color: #fff;
}
.btn-back{
  background-color: #d3d3d3;
}
.btn-back:hover{
  background-color: #c8c8c8;
  color: #fff;
}