<div class="container-fluid public">
  <div class="row mx-auto" style="max-width:800px">
    <div class="map-container col-sm-10 col-12 mx-auto mt-5">
      <h4 class="mt-5 mb-3 text-center">
        <%= @user.name %> さんのお気に入り一覧
      </h4>

      <div class="row pt-0 mt-0 my-3">
        <div class="col-12 text-center my-3">
          <%= link_to 'マイページに戻る', users_mypage_path, class: "ml-3" %>
        </div>

        <div id="tab-contents" class="col-lg-11 col-md-8 col-sm-8 col-10 mx-auto my-4 px-0">
          <div id="tab1" class="tab px-0">
            <%= render partial: 'public/posts/tab2', locals: { bookmarks: @all_bookmarks} %>
          </div>
        </div>

    </div>
  </div>
</div>

<%= javascript_pack_tag 'tab' %>